<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Tasks</h1>

<table class="tasks">
  <tfoot>
    <tr>
      <td colspan="7">
        <%= link_to "New Task", new_task_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <th>Start Date</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority (1-5)</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= task.start_date %>
        </td>
        <td>
          <%= task.subject %>
        </td>
        <td>
          <p>
            <%= task.description %>
          </p>
        </td>
        <td>
          <%= task.status %>
        </td>
        <td>
          <%= task.priority %>
        </td>

        <td>
          <%= task.end_date %>
        </td>
        <td class="actions">
          <ul>
            <li><%= link_to "Show", task %></li>
            <li><%= link_to "Edit", edit_task_path(task) %></li>
            <li><%= link_to "Destroy", task, method: :delete, 
                    data: {confirm: 'Are you sure?'} %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
