<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<% if User.all.blank? %>
  <%= controller.redirect_to new_user_url, notice: "No users detected, must create users first" %>
<% else %>
<h1>Tasks</h1>

<%= form_tag tasks_path, method: "get" do %>
  <%= select_tag :search_field, options_for_select(Task.search_types), prompt: 'Select a search field' %>
  <%= text_field_tag :search_query, params[:search_query] %>
  <%= submit_tag "Search" %>
<% end %>

<table class="tasks">
  <tbody>
    <tr>
      <th>Assigned To</th>
      <th>Start Date</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td>
          <%= task.user.get_full_name %>
        <td>
          <%= task.start_date %>
        </td>
        <td>
          <%= task.subject %>
        </td>
        <td>
          <p>
            <%= task.description %>
          </p>
        </td>
        <td>
          <%= task.status %>
        </td>
        <td>
          <%= task.priority%>
        </td>

        <td>
          <%= task.end_date %>
        </td>
        <td class="actions">
          <ul>
            <li><%= link_to "Show", task %></li>
            <li><%= link_to "Edit", edit_task_path(task) %></li>
            <li><%= link_to "Destroy", task, method: :delete, 
                    data: {confirm: 'Are you sure?'} %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>