<!DOCTYPE html>
<html>
    <section class="content">
      <nav class="top_nav">
        <ul>
          <li><a href="/tasks">Tasks</a></li>
          <li><a href="/tasks/new">Create a Task</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/users/new">Create a User</a></li>
        </ul>
      </nav>
    </section>
  <head>
    <title>Team</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class='<%= controller.controller_name %>'>
    <%= yield %>
    </main>

  </body>
</html>
